* {
    margin: 0;
    padding: 0;
}

.display {
    display: grid;
    grid-template-columns: 1fr; /*cria o layout de colunas*/
    grid-template-rows: 20vh;   /*cria o layout de linhas*/ 

}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*cria o layout de colunas*/
    grid-template-rows: 20vh 20vh 20vh 20vh; /*cria o layout de linhas*/
    border: 1 solid;
    background-color: #fff;
}

.cor-verde {
    background-color: green;
}

.cor-laranja {
    background-color: orange;
}

.escondido {
    display: none;
}