body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
}
header h1{
    margin: 0;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 176px;
    height: 78px;
    margin-top: 18px;
}

header {
    margin-bottom: -100px;
    
}

header h1 span {
    visibility: hidden;
}

header nav ul {
    /* harley utilizou mais pra mim nao serviu
    padding-right: 80px;
    */
    margin:0;
    margin-top: 30px;
}

header nav li {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}

header nav li:last-child {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 30px;
}

header nav li a {
    text-decoration: none;
    color:#fff;
    font-size: 20px;
}

section#topo {
    background-image: url(../img/fundo-topo.png);
    background-size: cover;
    height: 700px;
}

section#topo .chamada {
    color: #fff;
    margin-top: 200px;
    text-align: center;
}

section#topo .chamada h2 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: 500;
}

section#topo .chamada p {
    margin: 0;
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 300;
}

.botao {
    background-color: #ff397e;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 6px 0px 0px #a32751;
    font-size: 36px;
    border-radius: 3px;
    font-weight: 300;
    text-align: center;
}

section#conheca {
    padding: 70px;
}

section#conheca .texto {
    padding: 70px;
    padding-top: 30px;
}

section#conheca .texto h2 {
    font-size: 36px;
}

section#conheca .texto p {
    font-size: 24px;
    font-weight: 100;
}

section#conheca .texto a {
    width: 60%;
    font-size: 30px;
}

section#depoimento {
    background-color: #ebe7fb;
    border-top: 4px solid #511099;
}

section#depoimento .container {
    flex-direction: column;
    align-items: center;
    padding: 70px;
}

section#depoimento img {
    width: 140px;
    height: 140px;
}

section#depoimento p {
    font-size: 24px;
    font-weight: 100;
    width: 80%;
    text-align: center;
}

#convite {
    
}