body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;    
}
header h1{
    margin: 0;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    width: 176px;
    height: 78px;
    margin-top: 18px;
}

header {
    
}

header h1 span {
    visibility: hidden;
}

#topo {
    
}
#conheca {
    
}
#depoimento {
    
}
#convite {
    
}