
@font-face {
    font-family: 'muliextrabold';
    src: url('../fonts/muli-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/muli-extrabold-webfont.woff') format('woff'),
         url('../fonts/muli-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muliextralightitalic';
    src: url('../fonts/muli-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/muli-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/muli-extralightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli-regular-webfont.woff2') format('woff2'),
         url('../fonts/muli-regular-webfont.woff') format('woff'),
         url('../fonts/muli-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.bg-image {
    /* Imagem usada */
    background-image: url(../img/Background.png);

    /* Centralizando e escalando */
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;

    /* altura e largura conforme o viewport */
    height: 100vh;
    width: 100vw;
    filter: blur(8px) brightness(0.5);
}

section#principal {
    width: 682px;
    height: 551px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    border: 1px solid #979797;
}

section#principal header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    padding: 20px;
}

header h2 {
    color: #5E5E5E;
    font-family: 'muliextrabold', serif;
    font-size: 18px;
    padding-right: 15px;
}

header small {
    font-family: 'muliregular', serif;
    color: #777879;
    font-size: 12px;
    font-weight: 100;
}

header span {
    font-family: 'muliregular', serif;
    color: #777879;
    font-size: 12px;
    font-weight: bold;
}

section#principal .container {
    display: flex;
}

section#principal .container .pagamento {
    background-color: #fff;
    width: 383px;
    height: 500px;
    border-right: 1px solid #D8D8D8;
    padding: 10px 20px; 
}

section#principal .container .itens {
    background-color: #FAFAFA;
    flex-grow: 1;
}

.container .pagamento .cartoes .wallet {
    font-size: 16px;
    color: #777879;
    font-family: 'muliregular', serif;
    font-weight: 100;
    padding-bottom: 20px;
}

.container .pagamento .cartoes .new-card {
    font-size: 16px;
    border-bottom: solid 1px #eaeaea;
    padding-bottom: 5px;
    font-weight: 600;
    color: #777879;
    font-family: 'muliregular', serif;
    font-weight: 100;
}

.container .cartoes .cartao {
    display: inline-block;
    width: 109px;
    height: 96px;
    text-align: center;
    padding-top: 10px;
}

.container .cartoes .cartao:hover{
    border: 1px solid #D1E2F6;
    background-color: #F5F9FD;
    /* Cancela o efeito movimento do hover */
    padding-top: 9px;
}

.container .cartoes .cartao img{
    width: 73px;
    height: 48px;
}

.container .cartoes .cartao span {
    font-family: 'muliregular', serif;
    color: #777879;
    font-size: 12px;
    font-weight: 100; 
}

