body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

aside {
    background-color: #242536;
    width: 200px;
    color: #fff;
}

aside #titulo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-color: #151524;
  margin: 0;
  height: 60px;
  
  background-position: center;
}

aside h1 span {
    visibility: hidden;
}

aside ul{
    margin: 0; padding: 0;
}

aside li {
    list-style: none;
    height: 50px; 
    line-height: 50px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
}

aside li i {
    margin-right: 5px;
}

aside li small {
    color: rgba(255, 255, 255, 0.6);
    float: right;
    margin-right: 15px;
}

aside li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

aside li:hover {
    background-color: #151524;
    border-left: 3px solid #FFB946;
}

section#principal {
    width: 100%;
}

section#principal header {
    background-color: #242536;
    height: 60px;
    color: #fff;
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
}

section#principal header span{
    float: right;
    padding: 20px;
    background-image: url(../img/Oval140.png);
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 8px;
    margin-top: 15px;
}

 section#principal .modulo .abas nav {
    background-color: #fff;
    height: 60px;
    display: flex;
    align-content: space-between;
}

section#principal .modulo .abas nav li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
}

section#principal .modulo .abas nav li a {
    text-decoration: none;
    color: #161616;
    font-weight: bold;
    font-size: 14px;
    font-family: arial, sans-serif;
    
}

section#principal .modulo .abas nav li a:hover {
    color: #FFB946;
    border-bottom: 2px solid #FFB946;
    padding-bottom: 20px;
}

section#principal .modulo .container {
    padding: 20px;
}

section#principal .modulo .container .canvas {
    background-color: #fff;
    padding: 30px;
}

section#principal .modulo .container .canvas #titulo {
    font-weight: bold;
    font-size: 20px;
    color: #161616;
    margin-bottom: 10PX;
}

section#principal .modulo .container .canvas .titulomargin {
    margin-top: 40px;
}

section#principal .modulo .container .canvas #texto1 {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    margin-bottom: 20px;
}

section#principal .modulo .container .canvas .inptext {
    margin-bottom: 8px;
    width: 400px;
    height: 40px;
    border: 1px solid #DCDCDC;
    border-radius: 5px;
}

section#principal .modulo .container .canvas .checkbox {
    margin-bottom: 15px;
}

section#principal .modulo .container .canvas label {
    font-size: 14px;
}

section#principal .modulo .container .canvas #bt1 {
    margin-top: 30px;
    width: 400px;
    height: 40px;
    background-color:#3aca60;
    border: none;
    border-radius: 4px;
    color: #Fff;
    font-weight: bold;
}
