body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F2F2;
}

aside {
    background-color: #242536;
    width: 200px;
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

aside #titulo {
  background-color: #151524;
  display: block;
  padding: 21px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

aside a span {
    visibility: hidden;
}

aside ul {
    margin: 0;
    padding: 0;
}

aside li {
    display: flex;
    list-style: none;
    padding: 15px;
}

aside li a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    font-size: 14px;
}

aside li:hover {
    background-color: #151524;
    border-left: 3px solid #FFB946;
}

aside ul #primeiro::before {
    content: url(../img/balance.png);
    margin-right: 9px;
}

aside ul #segundo::before {
    content: url(../img/dash.png);
}

aside ul #terceiro::before {
    content: url(../img/signal.png);
    margin-right: -15px;
}

aside ul #quarto::before {
    content: url(../img/cubes.png);
}

aside ul #quinto::before {
    content: url(../img/settins.png);
}

aside li span {
    margin-left: 40px;
    font-size: 14px;
}

section#principal {
    width: 100%;
    height: 100vh;
    float: left;
}

section#principal header {
    background-color: #242536;
    height: 60px;
    color: #fff;
    border-bottom: 1px solid #F2F2F2;
    font-size: 14px;
}

section#principal header span{
    float: right;
    padding: 20px;
    background-image: url(/img/Oval140.png);
    background-repeat: no-repeat;
    padding-left: 5px;
    padding-top: 8px;
    margin-top: 15px;
}

 section#principal .modulo .abas nav {
    background-color: #fff;
    height: 60px;
    display: flex;
    align-content: space-between;
}

section#principal .modulo .abas nav li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-right: 25px;
}

section#principal .modulo .abas nav li a {
    text-decoration: none;
    color: #161616;
    font-weight: bold;
    font-size: 14px;
    font-family: arial, sans-serif;
    
}

section#principal .modulo .abas nav li a:hover {
    color: #FFB946;
    border-bottom: 2px solid #FFB946;
    padding-bottom: 20px;
}

section#principal .modulo .container {
    padding: 20px;
}

section#principal .modulo .container .canvas {
    height: 70vh;
    background-color: #fff;

}