body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    text-align: center;
}

.card {
  height: 38vh;
  text-align: left;
}

.card label {
    display: block;
    padding-top: 15px;
    padding-left: 15px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.card input {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-size: 130px;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #fff;
    margin-top: 25px;
}

.card.altura {
    background-color: #3498D8;
}

.card.peso {
    background-color: #34495E;
}

button {
    width: 90%;
    font-size: 72px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    padding: 25px;
    margin-top: 15px;
    color: #fff;
    font-weight: 300;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    height: 180px;
    box-shadow: 0 6px 0px 0 #245B3B;
    background-color: #27ae60;
}


.resultado .voltar {
    background-image: url(../img/left-arrow.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center 13px;
    font-size: 100px;
}

.resultado span {
    visibility: hidden;
}

.resultado {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.resultado .texto small {
    font-size: 24px;
}

.resultado p,.imcDesc{
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: #4a4a4a;
    font-weight: 100;
}

.escondido {
    display: none;
}