body {
    padding: 10px;
}

h1 {
    text-align: center;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

h1 span {
    visibility: hidden;
}

.card {
    padding-bottom: 30px;
}

.card img {
    width: 100%;
}

.card h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}